/* CONTENEDOR PRINCIPAL */
.container-login {
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  position: relative;
  overflow: hidden;
  width: 1100px;     
  max-width: 100%;
  min-height: 500px;
}


/* FORMULARIOS ANIMADOS */
.form-animation {
  position: absolute;
  top: 0;
  height: 100%;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.6s ease-in-out;
}

/*CONTENEDOR DEL FORMULARIO*/
.form-container {
  position: absolute;
  top: 0;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}


/* SIGN IN */
.sign-in {
  left: 0;
  z-index: 2;
  width: 70%;
}

/* SIGN UP */
.sign-up {
  left: 0;
  opacity: 0;
  z-index: 1;
  width: 45%;
}

/* ANIMACIÓN CUANDO SE CAMBIA A SIGNUP */
.container-login.right-panel-active .sign-in {
  transform: translateX(100%);
}

.container-login.right-panel-active .sign-up {
  transform: translateX(100%);
  opacity: 1;
  z-index: 5;
}


/* OVERLAY */
.overlay-container-login {
  position: absolute;
  top: 0;
  left: 50%;
  width: 50%;
  height: 100%;
  overflow: hidden;
  z-index: 100;
  transition: all 0.6s ease-in-out;
}

.overlay-login {
  background: linear-gradient(to right, #BA487F, #F39F9F);
  color: #ffffff;
  position: relative;
  left: -100%;
  width: 200%;
  height: 100%;
  transform: translateX(0);
  transition: transform 0.6s ease-in-out;
}

/* OVERLAY ANIMADO */
.container-login.right-panel-active .overlay-container-login {
  transform: translateX(-100%);
}

.container-login.right-panel-active .overlay-login {
  transform: translateX(50%);
}


/* PANELES DEL OVERLAY */
.overlay-panel-login {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 40px;
  text-align: center;
  top: 0;
  height: 100%;
  width: 50%;
}

.overlay-left {
  transform: translateX(-20%);
}

.container-login.right-panel-active .overlay-left {
  transform: translateX(0);
}

.overlay-right {
  right: 0;
  transform: translateX(0);
}

.container-login.right-panel-active .overlay-right {
  transform: translateX(20%);
}
